@charset "utf-8";
/* CSS Document */

.login_left_bg {
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 110%;
    animation: shrink 5s infinite alternate;
    background: no-repeat center top scroll;
    padding: 30px;
    display: flex;
    align-items: end;
}

@keyframes shrink {
    0% {
        background-size: 110% 110%;
    }

    100% {
        background-size: 100% 100%;
    }
}

.login_logo {
    height: 110px;
    width: auto;
    margin-bottom: 2px;
}

.login_form {
    padding: 10px 50px;
}

h1 {
    font-size: 38px;
    font-weight: 800;
    color: #ffffff;
}

h2 {
    font-weight: 800;
    font-size: 22px;
}

h3 {
    font-weight: 700;
    font-size: 16px;
}

.yellow_btn {
    background-color: #f3c623;
    border: 1px solid #f3c623 !important;
    color: #000000 !important;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    border: transparent;
    font-size: 13px !important;
    font-weight: 800;
    padding: 12px 30px !important;
    border-radius: 5px;
    /* height: 58px; */
}

.yellow_btn:focus {
    background-color: #858383;
    border: 1px solid #f3c623 !important;
    color: #ffffff !important;
}

.yellow_btn:focus-visible {
    background-color: #858383;
    border: 1px solid #f3c623 !important;
    color: #ffffff !important;
}

.yellow_btn:hover {
    background-color: #858383;
    border: 1px solid #f3c623 !important;
    color: #ffffff !important;
    border-radius: 8px;
}
